<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-9">
		<title>Beneficios</title>
		</head>
	<body>
	<header>
	<h1>FI Unju</h1> 
	<img src="../static/images/becas.jpg" alt="300" title="beneficios"   height="150" width="300">
	</header>
		<nav> 
			<li><a href="index.html">Inicio</a></li>
		</nav>
		<nav> 
			<li> <a href="agenda.html">Agenda</a> </li>
		</nav> 
		<nav> 
			<li> <a href="beneficios.html">Beneficios y Becas</a> </li>
		</nav>
		<nav> 
			<li> <a href="contacto.html">Contáctanos </a></li>              
		</nav>
		<br>
		<section>
			<p>Pagina en construccion</p>
		</section>
		<footer>2022. Portal – Av. Gral. Manuel Belgrano 789 – Teléfono (388) 999999 S. S. de Jujuy República
Argentina.</footer>

	</body>
</html> 