<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>Beneficios</title>
			<link rel="stylesheet" href="../static/css/style.css">
		</head>
	<body>
	<header>
	<h1>Beneficios y Becas</h1> 
	<img src="../static/images/beneficios.jpg" alt="300" title="beneficios"  height="300"  width="700">
	</header>
	  <ol>
		    <nav class="barra"> 
			<li><a href="index.html">Inicio</a></li>
			<li> <a href="agenda.html">Agenda</a> </li>
			<li> <a href="beneficios.html">Beneficios y Becas</a> </li>
			<li> <a href="Contactenos.html"">Contáctanos </a></li>  
			</nav>            
      </ol>
		</head>
	
		<section>
			<p>Pagina en construccion</p>
		</section>
		<footer>2022. Portal – Av. Gral. Manuel Belgrano 789 – Teléfono (388) 999999 S. S. de Jujuy República
Argentina.</footer>

	</body>
</html> 