<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-9">
		<title>Contactos</title>
		</head>
	<body>
	<header>
	<h1>FI Unju</h1> 
	<img src="../static/images/contacto.png" alt="300" title="beneficios"   height="150" width="300">
	</header>
		<nav> 
			<li><a href="index.html">Inicio</a></li>
		</nav>
		<nav> 
			<li> <a href="agenda.html">Agenda</a> </li>
		</nav> 
		<nav> 
			<li> <a href="beneficios.html">Beneficios y Becas</a> </li>
		</nav>
		<nav> 
			<li> <a href="contacto.html">Contáctanos </a></li>              
		</nav>
		<br>
		
		<form action="/my-handling-form-page" method="post">
			  <li>
			    <label for="name">Nombre y Apellido:</label>
			    <input type="text" id="name" name="name0">
			  </li>
			  <li>Provincia
			    <select name="provincia" id="provincia">
				  <option value="j">Jujuy</option>
				  <option value="s">Salta</option>
				  <option value="t">Tucuman</option>
				  <option value="l">La Rioja</option>
				  <option value="c">Cordoba</option>
				  <option value="b">Buenos Aires</option>
				</select>
			  </li>
			  <li>
			    <label for="msg">Telefono:</label>
			    <input type="number" id="tel" name="tel0">
			  </li>
			  <li>
			    <label for="msg">Correo electronico:</label>
			    <input type="email" id="correo" name="correo0">
			  </li>
			  <li>
			  	<label for="msg">Estado Civil</label>
			  		<br>
			  		<input type="radio" name="casado" value="1">Casado
					<br>
					<input type="radio" name="soltero" value="2">Soltero
					<br>
					<input type="radio" name="otro" value="3">Otro
			  </li>
			  <li>
			    <label for="msg">Mensaje:</label>
			    <input type="text" id="mensaje" name="mensaje0" style="WIDTH: 228px; HEIGHT: 48px"
						size=32 >
			  </li>
	 		  <br>
	 		  <li>
	 		  	<input type="submit" value="Enviar datos" />
	 		  </li>	 			
		</form>
		<br>
		<footer>2022. Portal de Capacitación – Av. Gral. Manuel Belgrano 789 – Teléfono (388) 999999 S. S. de Jujuy República
Argentina.</footer>

	</body>
</html> 