<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Idiomas</title>
</head>
<body>
<header>
	<h1>Cursos De Idioma</h1> 
	<h4>by:CarlosGutierrez</h4>
	<img src="../static/images/calendario.jpg" alt="calendario2022" title="calendario_2022"    width="400">
	</header>
	<nav> 
		<li><a href="index.html">Inicio</a></li>
		</nav> 
		<nav> 
		<li> <a href="Agenda.html">Agenda</a> </li>
		</nav>
		<nav> 
		<li> <a href="Beneficios.html">Beneficios y Becas</a> </li>
		</nav>
		<nav> 
		<li> <a href="Contactenos.html">Contáctanos</a> </li>
		</nav>
<section>	
<h2>Poema</h2>
<p> Por tus ojos verdes yo me perdería,
sirena de aquellas que Ulises, sagaz,
amaba y temía.
Por tus ojos verdes yo me perdería.
Por tus ojos verdes en lo que, fugaz,
brillar suele, a veces, la melancolía;
por tus ojos verdes tan llenos de paz,
misteriosos como la esperanza mía;
por tus ojos verdes, conjuro eficaz,
yo me salvaría.
</p>
<table>
    <tr>
    <th>Título del curso</th>
    <th>fecha inicio </th>
    <th>Horario</th>
    <th>Fecha fin</th>
    <th>Modalidad</th>
    <th>Docente</th>
    <th>Duracion en semanas</th>
    </tr>
    <tr>
    <th>Ingles</th>
    <th>3/5/2022</th>
    <th>18:00 a 21:00</th>
    <th>3/6/2022</th>
    <th>Precencial</th>
    <th>Jorge Lopez</th>
    <th>6 horas</th>
    </tr>
     <tr>
    <th>Frances</th>
    <th>15/5/2022</th>
    <th>15:00 a 17:00</th>
    <th>30/6/2022</th>
    <th>Virtual</th>
    <th>Maria Torrez</th>
    <th>4 horas</th>
    </tr>
</table>
</section>	
</body>
</html>