<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>Inicio</title>
		</head>
	<body>
		<header>
			<h1> Inicio</h1>
				<p>> <img src="../static/images/unju.jpg" title="Cursos 2022 Unju" width="200" 
       			height="100" alt="Imagen usando quote"> 
       			&quot;2022&quot;
				</p>
			</h1>
			<nav> 
			<li><a href="index.html">Inicio</a></li>
		</nav>
		<nav> 
			<li> <a href="agenda.html">Agenda</a> </li>
		</nav> 
		<nav> 
			<li> <a href="beneficios.html">Beneficios y Becas</a> </li>
		</nav>
		<nav> 
			<li> <a href="contacto.html">Contáctanos </a></li>              
		</nav>
		<br>
 			</nav class="menu">
 			<section>
 			<sub> Cursos con inscripcion abierta </sub>
    	<ol>
      <!-- Link to every section in the page -->
      <li><a href="#section1">Idiomas</a></li>
      <li><a href="#section2">Diseño</a></li>
      <li><a href="#section3">Desarrollo</a></li>
      <li><a href="#section4">Marketing</a></li>
      <li><a href="#section5">Conferencias</a></li>
    </ol>
	<br>
  </section>
  <section id="section1">
    <h3>Idiomas</h3>
    <p>2022. Cursos de Idiomas- Av. Bolivia 456 - Telefono (388)4567234 S.S. de Jujuy Republica Argentina</p>
  </section>

  <section id="section2">
    <h3>Diseño</h3>
    <footer>
    	<p> 2022. Cursos de Diseño Grafico - Belgrano 670 - Telefono (388)3456765 S.S.de Jujuy</p>
    </footer>
  </section>
  <section id="section3">
    <h3>Desarrollo</h3>
    <footer>
    	<p> 2022. Cursos de Desarrollos - ´Senador Perez 270 - Telefono (388)3498765 S.S.de Jujuy</p>
    </footer>
  </section>
  <section id="section4">
    <h3>Marketing</h3>
    <footer>
    	<p> 2022. Cursos de Marketing - Alvear 340 - Telefono (388)42467895 S.S.de Jujuy</p>
    </footer>
  </section>
  <section id="section5">
    <h3>Conferencias</h3>
    <br>
    <footer>
    	<p> 2022. Conferencias Virtuales - Guemes 670 - Telefono (388)3456765 S.S.de Jujuy</p>
    </footer>
  </section>
		  </div>
		</h2>
			
		</header>
	</body>
</html>
	