<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>Inicio</title>
		<link rel="stylesheet" href="../static/css/style.css">
		</head>
	<body>
		<header>
			<h1> Inicio</h1>
				<p> <img src="../static/images/Calendario.jpg" title="Cursos 2022 Unju" width="400" 
       			height="300" alt="Imagen usando quote"> 
				</p>
			</h1>
			</header>
	  <ol>
			<nav class="barra"> 
			<li><a href="index.html">Inicio</a></li>
			<li> <a href="Agenda.html">Agenda</a> </li> 
			<li> <a href="Beneficios.html">Beneficios y Becas</a> </li>
			<li> <a href="Contactenos.html"">Contáctanos </a></li>              
		    </nav>
	  </ol>
 			<section>
 			<sub> <h2>Cursos con inscripcion abierta </h2></sub>
    <ol>
    <nav>
      <li><a href="idiomas.html"">1. Idiomas</a></li>
      <li><a href="#section2">2. Diseño</a></li>
      <li><a href="#section3">3. Desarrollo</a></li>
      <li><a href="#section4">4. Marketing</a></li>
      <li><a href="#section5">5. Conferencias</a></li>
      </nav>
    </ol>
	<br>
  </section>
  <section id="section1">
    <h3><a href="idiomas.html">Idiomas</a></h3>
    <p>2022. Cursos de Idiomas- Av. Bolivia 456 - Telefono (388)4567234 S.S. de Jujuy Republica Argentina</p>
  </section>

  <section id="section2">
    <h3>Diseño</h3>
    <footer>
    	<p> 2022. Cursos de Diseño Grafico - Belgrano 670 - Telefono (388)3456765 S.S.de Jujuy</p>
    </footer>
  </section>
  <section id="section3">
    <h3>Desarrollo</h3>
    <footer>
    	<p> 2022. Cursos de Desarrollos - ´Senador Perez 270 - Telefono (388)3498765 S.S.de Jujuy</p>
    </footer>
  </section>
  <section id="section4">
    <h3>Marketing</h3>
    <footer>
    	<p> 2022. Cursos de Marketing - Alvear 340 - Telefono (388)42467895 S.S.de Jujuy</p>
    </footer>
  </section>
  <section id="section5">
    <h3>Conferencias</h3>
    <br>
    <footer>
    	<p> 2022. Conferencias Virtuales - Guemes 670 - Telefono (388)3456765 S.S.de Jujuy</p>
    </footer>
  </section>
		  </div>
		</h2>
		</header>
	</body>
</html>