
body {
    width: 100%;
    height: 100%;
    background-color: #86a6fb;
    color: #000000;
    margin: 0;
    text-align: center;
}

.imagen{

}

.agendaH{
	heigth: 100%;
	padding: 0px 25%;
	font-family:inherit;
	margin: auto;
}

ol{
list-style: none;
}

li{
padding: 10px;	
	
}
.barra{
display: flex;
}